<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<h2>サイトマップ</h2>
<ul>
  <li><a href="/home/index">トップ</a></li>
  <li><a href="/home/contact">連絡先</a></li>
</ul>

</body>
</html>
